@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
/* @import url('./Orbitron-ExtraBold.ttf');
@font-face {
  font-family: "Orbitron-ExtraBold"; 
  src: url("./Orbitron-ExtraBold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  }   */

  .header {
    overflow: hidden;
    background-color: rgba(180, 67, 52, 0.808);
    padding: 10px 10px;
    opacity: 80%;
  }
  .header a, p, button.active {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 40px;
    font-weight: bold;
    /* font-family: "Orbitron-ExtraBold"; */
  }
  
  .header a.active, button.active{
    background-color: #020202;
    color: white;
    margin-left: 10px;
  }
  
  .header-right {
    float: right;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  
  .container {
    padding: 0px;
  }
  