<%- include('layout/header.ejs')%>

    <div class="limiter" style="background-image: url('./images/background.jpg');">
        <div id="wrapper">
          <h1>Войти</h1>  
            <form id="form" method="post" action="/api/auth" autocomplete="off">
                <input type="text" id="email" name="email" placeholder="Введите Email" />
                <input type="password" id="password" name="password" placeholder="Введите пароль" />
                <button type="submit">&#xf0da;</button>
                <div ></div>
                <p>Нет аккаунта? <a href="regpage">Зарегистрируйся</a></p>
            </form>
        </div>
</div>
<%- include('layout/footer.ejs')%>