<%- include('layout/header.ejs')%>

<div class="limiter">
    <div style="background-image: url('/front/public/images/background.jpg');" class="container">
        <div class="wrap">
            <form method="post" action="/api/auth" name="auth" class="form">
                <div class="container">
                    <h1>Авторизация</h1>
                    <p>Заполните форму, чтобы авторизоваться.</p>
                    <hr>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Введите Email" name="email" required>

                    <label for="password"><b>Пароль</b></label>
                    <input type="password" placeholder="Введите пароль" name="password" required>
                    <hr>

                    <button type="submit" class="registerbtn">Войти</button>
                </div>

                <div class="container signin">
                    <p>Ещё нет аккаунта? <a href="/front/views/regpage.ejs">Зарегистрируйся</a>.</p>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('layout/footer.ejs')%>