<% include layout/header.html %>

<div class="limiter">
    <div style="background-image: url('/front/public/images/background.jpg');" class="container">
        <div class="wrap">
            <form method="post" action="/api/auth" name="auth" class="loginform"><span
                    class="logintitle">Войдите в аккаунт</span>
                <div data-validate="Введите логин  " class="wrap-input"><span
                        class="label-input">Логин</span><input type="text" name="login" placeholder="  Введите логин"
                        class="input"><span data-symbol="😲" class="focus-input"></span></div>
                <div data-validate="Введите пароль" class="wrap-input"><span
                        class="label-input">Пароль</span><input type="password" name="password"
                        placeholder="  Введите пароль  " class="input"><span data-symbol="😆"
                        class="focus-input"></span></div>
                <div class="container-login">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div><button class="login100-form-btn">Войти в аккаунт</button>
                    </div>
                </div>
                <div class="txt1"><span>Первый раз на нашем сайте? </span><a href="/reg"
                        class="txt2">ЗАРЕГИСТРИРОВАТЬСЯ</a></div>
            </form>
        </div>
    </div>
</div>

<% include layout/footer.html %>