<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>angermess</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/authreg.css">
  <link rel="stylesheet" href="/fonts/Orbitron-ExtraBold.ttf">
  <link rel="stylesheet" href="/stylesheets/footerheader.css">
</head>

<body>
  <div class="header">
    <img class="messlogo" height="45px" width="45px" src="/images/logo.png">
    <a href="" class="logo">angermess</a>
    <div class="header-right">
      <a href=direction, class="logAction">Добро пожаловать!</a>
      <a href=loggedInDirection, class="regGreetAction">${greeting}</a>
      <a class="active" href="authpage">Выйти</a>
    </div>
  </div>