<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Messenger</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <link rel="icon" href="/front/public/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/front/public/stylesheets/styles.css">
</head>

<body>
  <header>
    <div class="logo">
      <a href="index.html">
        <img class="messlogo" src="/front/public/images/logo.png" alt="logo" width='70' , height='70'>
      </a>
    </div>
  </header>